@page
@model StayataNaTainite.Pages.Users.RegisterModel
@{
}

<form method="post">
    <div>
        <label asp-for="User.Email">Email</label>
        <input type="email" asp-for="User.Email" required />
    </div>

    <div>
        <label asp-for="User.PasswordHash">Password</label>
        <input type="password" asp-for="User.PasswordHash" required />
    </div>

    <div>
        <label asp-for="User.Username">Username</label>
        <input asp-for="User.Username" required />
    </div>

    <div>
        <input type="submit" value="Submit" />
    </div>
</form>
