@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto+Mono:wght@100&family=Roboto+Slab:wght@100&display=swap" 
rel="stylesheet">"

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn something</a>.</p>
    @HttpContext.Session.GetString("Email")
</div>

<style>
    
    h1 {
        font-family: 'Raleway', sans-serif;
        font-size: 114px;
    }

    p {
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        font-size: 21px;

    }




</style>